@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentBody">
    <h3>
        About Us</h3>
    Since 1997, we have been manufacturing plastic film packaging products
    <br />
    <br />
    <i>"We pride ourselves on quality and good service"</i>
    <br />
    <br />
    <br />
    <br />
</div>
